body{
    background-repeat: no-repeat;
    background-image: url(Immagini/palazzodipinto.jpg);
    background-size: 100%;
    text-align: center;
    background-attachment: fixed;
}
h1{
    
    color: white;
    text-align: center;
    transition-property: color;
    transition-duration: 2s;
}
h1:hover{
    color:white; 
    text-align: center;
}
h1:hover p{
    color: white;
    padding-left: 10px;
}
.testo{
    border-radius: 20px;
    transition-delay: 0.6s;
    float: right;
    margin-right: 36.2%;
    width: 400px;
    height: 80px;
    opacity: 1;
    background-color: #000000;
    border: 2px solid #ffffff;
    transition-property: width, border,height,opacity,margin-right;
    transition-duration: 1.5s;
    }
    .testo:hover {
    width: 50%;
    margin-right: 23.88%;
    height: 420px;
    opacity: 0.8;
    border: 10px solid #ffffff;
    }
    p{
    color: transparent;
    transition-property: color;
    transition-duration: 1.5s;
    padding: 20px;
    text-align: justify;
    }
    p:hover{
        text-align: justify;
        padding-right: 50%;
        padding: 20px;
        color: white;
        transition-delay: 1.5s;
        font-size: 100%;
    }
    .testo:hover h1{
color: white;
text-align: center;  
    }
    .testo:hover p{
        transition-delay: 1s;
        color: white
            }
